.textLayer{
    display : none
}
.annotationLayer{
    display : none
}
.react-pdf__Page__canvas{
    display : flex;
    width : 65% !important;
    height : auto !important;
    margin : 0 auto;
    justify-content: center;
    z-index: 1;
    opacity: 0.8;
    animation: fadeIn 3s forwards;
    transition: all 1s ease-in-out;
}